<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
        <id>azure-auth</id>
        <configuration>
            <client>AZ_USER_NAME</client>
            <tenant>AZ_TENANT_ID</tenant>
            <key>AZ_PASSWORD</key>
            <environment>AZURE</environment>
        </configuration>
    </server>
  </servers>
</settings>
a
